.skills__logo-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}

@media screen and (max-width: 624px) {
  .skills__logo-container {
    flex-direction: column;
  }
}
