.portfolio__image-link {
  display: block;
  max-width: 48.75vw;
  margin: auto;
  background-color: #000;
  position: relative;
}

.portfolio__image-link::before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0;
  position: absolute;
  top: 0;
  left: calc((100% - 48.75vw) / 2);
  max-width: 48.75vw;
  bottom: 0;
  right: 0;
  transition: .5s ease-out;
}

.portfolio__image-link:hover::before {
  opacity: 0.5;
}


@media screen and (max-width: 624px) {
  .portfolio__image-link {
    max-width: calc(100% - 2*50px);
  }
}
