.author__skills {
  margin: 0;
  max-width: 155px;
  font-family: 'Gilroy-Medium';
  font-size: 18px;
  line-height: 22px;
  color: #070707;
}

@media screen and (max-width:1200px) {
  .author__skills {
    font-size: 2vw;
  }
}
