.author__name {
  margin: 0;
  padding: 0;
  max-width: 124px;
  font-family: 'Gilroy-Bold';
  font-size: 47.3392px;
  line-height: 59px;
  font-weight: bolder;
  color: #070707;
}

@media screen and (max-width: 1200px) {
  .author__name {
    font-size: 2.44vw;
    line-height: 3vw;
  }
}

@media screen and (max-width: 624px) {
  .author__name {
    font-size: 5vw;
    line-height: 6vw;
  }
}
