.author__langs {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  padding: 0;
}

@media screen and (max-width: 624px) {
  .author__langs {
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
}
